*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-family: Montserrat;
}

#container-100000{
    background-color: rgba(196, 192, 192, 0.741);
    padding: 100px;
}

#head-banner{
    color: blue;
    width: 100%;
}


#container-100001 h3{
    text-align: center;
    padding: 30px;
    font-weight: 600;
}

#container-100001 p{
    font-size: 23px;
}

.container-100003{
    padding: 50px;
}

.container-100003 img{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(180, 182, 184);
}

.container-100003 p{
    text-align: center;
}


.container-100004{
    padding: 30px;
}

.container-100004 button{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   border-radius: 10px;
   padding: 20px;
}


.container-1000051 ul li{
    font-size: 20px;
}

.container-100007-image{
    width: 1160px;
    height: 400px;
    align-items: center;
}

.container-100005 table{
    width: 100%;
}

.container-100005 table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 2px solid rgba(74, 176, 213, 0.701);
}

.container-100006 h3{
    color: rgb(37, 104, 238);
}

.container-100006 .item{
    margin: 5px;
}

.container-100006 .item img{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
}


.right-arrow {
	display: inline-block;
	position: relative;
	background: #2f89cb;
	padding: 10px;
    color: white;
    font-weight: 500;
    margin-right: 50px;
}

.right-arrow:nth-child(2) {
    background: #05b62f;
}

.right-arrow:nth-child(2):after {
	border-left: 22px solid #05b62f;
}

.right-arrow:nth-child(2)::before {
    border-top: 22px solid #05b62f;
	border-right: 22px solid #05b62f;
	border-bottom: 22px solid #05b62f;
}

.right-arrow:nth-child(4) {
    background: #05b62f;
}

.right-arrow:nth-child(4):after {
	border-left: 22px solid #05b62f;
}

.right-arrow:nth-child(4)::before {
    border-top: 22px solid #05b62f;
	border-right: 22px solid #05b62f;
	border-bottom: 22px solid #05b62f;
}


.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid #2f89cb;
}

.right-arrow:before {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid #2f89cb;
	border-right: 22px solid #2f89cb;
	border-bottom: 22px solid #2f89cb;
	border-left: 22px solid transparent;
}

.right-arrow:hover{
    text-decoration: none;
    color: white;

}

.web-path{
    margin: 10px 0 10px 70px;
}