p{
    font-size: 18px;
}

#intro-maincontainer{
   margin: 30px 17%;
}

.intro-section{
    margin-top: 50px;
}

.intro-section h3{
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(13, 213, 13);
}

.intro-section p{
    text-align: justify;
}

.intro-section ul,li{
    font-size: 18px;
    margin-top: 10px;
}