.body-intro{
    margin-left: 25%;
    width: 50%;
    margin-right: auto;
    margin-top: 5%;
}

.intro-container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-container1 img{
    width: 100%;
}

.intro-container2{
    padding: 5%;
    text-align: justify;
}
.intro-container2 h1{
    padding: 2%;
}

.intro-container2 p{
    padding: 2%;
    font-size: 21px;
}

.intro-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.intro-container3 .item-cont{
    flex: 35%;
    margin: 2%;
    text-align: center;
    font-size: 20px;
}

.cont-number{
    margin-left: 45%;
    width: 15%;
    height: 40px;
    background: rgb(245, 157, 157);
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}