
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Montserrat;
}

.body{
    height:100%;
    width:100%;
}

.header-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

#banner-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    background : #2f89cb;  
}

#banner-contact span{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 450;
    color: white;
}

#banner-contact img{
    width:17px;
    padding-right: 3px; 
}

#header{
    display: flex;
    background-color: white;
}
.topnav001 {
    overflow: hidden;
}
  
.topnav001 a {
    float: left;
    display: block;
    color: #2696E9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    font-size: 16px;
}
  
.active001 {
    color: white;
}
  
.topnav001 .icon {
    display: none;
}
  
.dropdown001 {
    float: left;
    overflow: hidden;
}
  
.dropdown001 .dropbtn001 {
    font-size: 16px;    
    border: none;
    outline: none;
    color:#2696E9;
    padding: 14px 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
}

.dropbtn001:hover {
    color: #0bdd1d;
}

.dropbtn001 i{
    color: #0bdd1d;
}

.dropdown-content001 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content001 a {
    float: none;
    color: black;
    padding: 12px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}
  
.topnav001 a:hover, .dropdown001:hover .dropbtn001 {

    text-decoration: none;
}
  
.dropdown-content001 a:hover {
    background-color: #ddd;
    color: black;
}
  
.dropdown001:hover .dropdown-content001 {
    display: block;
}
  
@media screen and (max-width: 600px) {
    .topnav001 a:not(:first-child), .dropdown001 .dropbtn001 {
      display: none;
    }
    .topnav001 a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav001.responsive {position: relative;}
    .topnav001.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav001.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav001.responsive .dropdown001 {float: none;}
    .topnav001.responsive .dropdown-content001 {position: relative;}
    .topnav001.responsive .dropdown001 .dropbtn001 {
      display: block;
      width: 100%;
      text-align: left;
    }
}

#navbar-main{
    flex: 60%;
}

#logo{
    flex: 40%;
    width: 100%;
    padding: 10px 0 10px 8%;
}

#logo img{ 
    width: 280px;
    height: 90px;
}

#navbar-search{
    padding: 5px;
    margin: 10px 0px;
}

#item1{
    color: white;
    background-color: #2696E9;
    font-size: 12px;
    font-weight: 500;
}

#item2{
    color: #222;
    background-color: #dbdee1;
    font-size: 12px;
    font-weight: 500;
}

#navbar-search >div{
    display: inline;
    margin: 20px 8px;
    padding: 6px 35px;
    border-radius: 15px;
}


.body-content{
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
}


* {box-sizing: border-box;}

.img-slider{
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 0;
}
  
.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
  
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
  
.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 560px;
}
  
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
  
.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
  
.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
  
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
  
.img-slider .navigation .btn{
    background: rgba(78, 77, 77, 0.5);
    width: 12px;
    height: 12px;
    margin: 30px;
    border-radius: 50%;
    cursor: pointer;   
}
  
.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
  


.introduce{
    display: flex;
    width:100%;
    margin-top: 40px;
    height: 14%;
    height: 425px;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 10%;
}

.introduce-content{
    flex: 50%;
    padding-left: 10%;
    padding-right: 5%;
}

.introduce-content span{
    color:red;
    font-size: 20px;
    text-align: justify;
}

.introduce-content p{
    font-size: 20px;
    text-align: justify;
}

.introduce-content h5{
    text-align: center;
    font-size: 25px;
    font-family: Cambria;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 0;
}
.introduce-content img{
    width: 35%;
    height: 25%;
    margin-left:31%;

}
.introduce-image{
    flex: 50%;
    position: relative;
}
.introduce-image img{
    vertical-align: middle;
    object-fit: cover;
    height: 100%; 
    width: 100%;
}
.introduce-image p{
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    position:absolute;
    background:rgba(22, 22, 22, 0.4);
    color:white;
    bottom: 0%;
    z-index: 0;
    text-align: center;
}
.slideshow-container p{
    position:absolute;
    top:50%;
    left: 40%;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slideshow-container button{
    position:absolute;
    top: 60%;
    left: 47%;
    width: 7%;
    background: none;
}



.center_content button{
    margin-top: 30px;
    font-size: 20px;
    font-family: Calibri;
    width: 100%;
    background: none;
    width: 100%;
}

.service{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
    background-image: url("../assets/background002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service h2 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-family: "Montserrat script=latin rev=1";
    font-weight: bold;
}

.flex-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    min-width:322px;
    min-height: 400px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
    background: white;
}

.card:hover{
    box-shadow: none;
}

.card img{
    max-width: 300px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
}
.card-content p{
    text-align: justify;
    font-size: 15px;
}

.card h3{
    text-transform: uppercase;
    text-align: center;
    padding: 6px 3px 0 3px;
    font-size: 18px;
}

.card p{
    text-align: justify;
    padding: 3px;
    font-size: 20px;
}

.card button{
    border: none;
    outline: none;
    background: #2696E9;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    border-radius: 20px;
    font-weight: bold;

}

.card button:hover{
    background:#A9A9A9;
}

.card button:active{
    background:#A9A9A9;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}
.card-content{
    width: 300px;
}

.card-content p{
    font-size: 13px;
    padding:5px;
    text-align: left;
}


.background-content {
    height: 600px;
    background-image: url("../assets/background003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.infor{
    padding: 50px;
    background-image: url("../assets/banner\ giá\ trị-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.infor-1 h1{
    padding: 20px;
    text-align: center;
    color: white;
}

.infor-items{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.infor-items .item{
    margin: 3px;
    width: 340px;
    min-height: 310px;
    height: 100%;
    background-color: white;
}

.item i{
    font-size: 80px;
    text-align: center;
    color: rgb(89, 120, 187);
    width: 100%;
    padding: 7px;
}

.item h3{
    text-align: center;
    color: rgb(89, 120, 187);
    font-size: 22px;
}

.item p{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: rgb(89, 120, 187);
}

.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    padding: 5px;
}




.footer-distributed{
	background:#2f89cb;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 100px;
    opacity: 0.7;
}

.footer-distributed p{
    color: white;
    margin-left: 10px;
    padding-top: 5px;
}

.footer-left img{
    width: 280px;
    height: 90px;
}

.footer-left span{
    color: rgb(61, 59, 59);
}

.footer-caption{
    margin: 10px 0;
}



.number{
    margin-top: 100px;
    width: 100%;
    display:flex;
    justify-content:space-around;
    margin-bottom: 100px;
    
}
.number img{
    width: 100px;
    justify-content: center;
}
.number img{
    width: 100px;
}
.number h1{
    text-align: center;
    color: lightcoral;
}
.number p{
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.number > div{
    margin-bottom: 40px;
}


@media (max-width: 880px) {


	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
    .footer-left {
        margin-bottom: 0px;
    }
    .footer-center{
        margin-top: 0px;
    }

}

#contact-fixed{
    position: absolute;
    height: 400px;
    width: 100px;
    z-index: 2;
    position: fixed;
    right: 1%;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-fixed i{
    color: white;
    font-size: 45px;
}
#contact-fixed div{
    display: flex;
    width: 70%;
    border-radius: 50%;
    background-color: #2696E9;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

#contact-fixed div:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#contact-fixed img{
    width: 100%;
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
}

