

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-family: Montserrat;
}


#container-100000{
    background-color: rgb(245, 245, 245);
}

#container-100001 h3{
    padding: 10px;
}

#head-banner{
    color: blue;
    width: 100%;
}

.container-100001{
    height: 100%;
    margin-bottom: 50px;
}

.container-100002{
    display: flex;
    height: 100%;
    width: 100%;
}

.container-100002 > div{
    background-color: white;
    margin-left: 10px;
    padding: 10px;
}

#container-100002{
    display: flex;
    flex: 83%;
    width: 100%;
}

.vertical-banner{
    flex: 20%;
    padding: 10px;
}

.vertical-banner >div{
    width: 100%;
}

.vertical-banner img{
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#vertical-banner-title{
    background-color: rgb(12, 176, 64);
    padding: 10px 5px 5px 5px;
    text-align: center;
    align-items: center;
}

#vertical-banner-title h5{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

#vertical-banner-title span{
    padding-left: 10px;
}

#container-100002 > div{
    flex: 50%;
    margin: 10px;
    height: 100%;
}

.container-100013{
    width: 100%;
    height: 100%;
}

.container-100003{
    padding: 5px;
    background-color: white;
}

.container-100003 img{
    margin-top: 5%;
    display: block;
    width: 100%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
}

.container-100003 table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

.container-100003 h5{
    font-weight: 600;
}

.container-100003 p{
    font-size: 18px;
}

.container-100003 button{
    margin: 10px;
    padding: 20px 15px;
    width: 42%;
    font-weight: 600;
    font-size: 20px;
}

.shape{
    text-align:center;
    background-color:rgb(12, 176, 64);
    width:300px;
    height:40px;
    line-height:60px;
    color:white;
    position:relative;   
}

.shape h3{
    font-size: 20px;
}

.container-100004{
    border-bottom: 2px solid rgb(8, 176, 61);
}


#container-100005 p,ul{
    text-align: justify;
    font-size: 18px;
}

#container-100005 li{
    list-style:circle;
    padding: 5px;
    margin-left: 20px;
}

#container-100005 table, tr, th, td{
    font-size: 18px;
}

#container-100005{
    padding: 20px;
    padding-left: 50px;
}


#container-100005 p:first-child{
    font-size: 25px;
}

.container-100016 {
    width: 40%;
}

.container-100016 img{
    margin-top: 30px;
    width: 400px;
    height: 400px;
}

.container-100006{
    display: flex;
    justify-content: space-between;
}
.container-100006 table{
    flex: 30%;
    margin: 30px;
    border: 2px solid rgba(74, 176, 213, 0.701);
}


.container-100006 table, tr, th, td{
    padding: 10px;
    border: 2px solid rgba(74, 176, 213, 0.701);
}



.container-100007{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.container-100007 img{
    margin-bottom: 20px;
    width: 450px;
    height: 450px;
    
}
.container-100007 >div p{
    text-align: center;
}

.container-100008{
    display: flex;
    flex-direction: row;
   
}

.container-100008 img{
    width: 300px;
    height: 300px;
    margin: 15px;
}

#container-100001{
    background-color: rgba(230, 227, 227, 0.762);
    padding:30px 70px;
}


.right-arrow {
	display: inline-block;
	position: relative;
	background: #2f89cb;
	padding: 10px;
    color: white;
    font-weight: 500;
    margin-right: 50px;
}

.right-arrow:nth-child(2) {
    background: #05b62f;
}

.right-arrow:nth-child(2):after {
	border-left: 22px solid #05b62f;
}

.right-arrow:nth-child(2)::before {
    border-top: 22px solid #05b62f;
	border-right: 22px solid #05b62f;
	border-bottom: 22px solid #05b62f;
}

.right-arrow:nth-child(4) {
    background: #05b62f;
}

.right-arrow:nth-child(4):after {
	border-left: 22px solid #05b62f;
}

.right-arrow:nth-child(4)::before {
    border-top: 22px solid #05b62f;
	border-right: 22px solid #05b62f;
	border-bottom: 22px solid #05b62f;
}


.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid #2f89cb;
}

.right-arrow:before {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid #2f89cb;
	border-right: 22px solid #2f89cb;
	border-bottom: 22px solid #2f89cb;
	border-left: 22px solid transparent;
}

.right-arrow:hover{
    text-decoration: none;
    color: white;

}

.web-path{
    margin: 10px 0 10px 70px;
}

.container-100007-image{
    width: 1305px;
    height: 450px;
}

#container-100010{
    width: 100%;
    display: flex;
    padding: 0 13%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-100010 div {
    flex: 30%;
    height: 450px; 
    margin: 10px;
    box-shadow: 2px 8px 20px rgb(201, 201, 201);
}


#container-100010 div img{
    margin-top: 0%;
    width: 100%;
    height: 85%;
}

#container-100010 div p{
    text-align: center;
    padding: 5% 0;
    font-weight: 500;
}