*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-family: Montserrat;
}

#container-100000{
    background-color: rgba(196, 192, 192, 0.741);
    padding: 80px;
}

#head-banner{
    color: blue;
    width: 100%;
}

.col-inner{
    padding-left: 70px;
}

#container-100001{
    padding: 50px;
}

#container-100001 h1{
    padding: 20px;
}

.container-100002{
    height: 100%;
    margin-top: 30px;
}

.container-100003{
    margin: 40px 150px;
    border-collapse: collapse;
    border-bottom: 2px solid  #2f89cb;  
}


.shape h3{
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.shape{
    text-align:center;
    background-color: #2f89cb;  
    width:400px;
    height:60px;
    line-height:60px;
    color:white;
    position:relative;
    font-size: 20px;
}

.shape::after{
    content:"";
    width:0px;
    height:0px;
    border-bottom:60px solid  #2f89cb;  
    border-right:60px solid transparent;
    position:absolute;
    left:100%;
    top:0px;
}

#span01{
    border-bottom: 1px solid black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.img {
    background-color: #c2c3cc;
    margin: 20px;
    height: 250px;
    width: 250px;
    font-size: 30px;
    color: white;
    border: 1px solid black;
}

.flex-items{
    padding: 5px;
}

.flex-items a >div{
    text-decoration: none;
    text-align: center;
}

.flex-items >div:hover{
    text-decoration: none;
}

.right-arrow {
	display: inline-block;
	position: relative;
	background: #2f89cb;
	padding: 10px;
    color: white;
    font-weight: 500;
    margin-right: 43px;
}
.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid #2f89cb;
}

.right-arrow:before {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid #2f89cb;
	border-right: 22px solid #2f89cb;
	border-bottom: 22px solid #2f89cb;
	border-left: 22px solid transparent;
}

.right-arrow:hover{
    text-decoration: none;
    color: white;

}

.web-path{
    margin: 30px 0 0 70px;
}

